[run]
branch = True
relative_files = True
source =
    backend
omit =
    backend/test/*
    backend/test/conftest.py
    */site-packages/*
    */__pycache__/*
    */dist/*
    */build/*

[report]
show_missing = True
skip_empty = True

[xml]
output = coverage.xml

[paths]
source =
    backend
    */backend
    *\backend