<nav class="navbar navbar-gris-claro shadow-sm px-4 sticky-top">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <ul class="nav menu-simetrico w-100 align-items-center">
      <li class="nav-item flex-fill">
        <a
          class="nav-link active"
          href="#"
          onclick="cargarPagina('home.html', this)"
          >Inicio</a
        >
      </li>
      <li class="nav-item flex-fill">
        <a
          class="nav-link"
          href="#"
          onclick="cargarPagina('corrector_ortografico.html', this)"
          >Corrector Ortográfico</a
        >
      </li>
      <li class="nav-item flex-fill">
        <a
          class="nav-link"
          href="#"
          onclick="cargarPagina('cuadernillos.html', this)"
          >Generación de Cuadernillos</a
        >
      </li>
      <li class="nav-item flex-fill">
        <a
          class="nav-link"
          href="#"
          onclick="cargarPagina('generacion_preguntas.html', this)"
        >
          Generación de Cuadernillos<br />por Banco de Preguntas
        </a>
      </li>
    </ul>
  </div>
</nav>
