<!-- ✅ HEADER.HTML CENTRADO, UNIFORME Y SIN FRANJA -->
<nav class="navbar navbar-gris-claro shadow-sm px-4 sticky-top">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <ul class="nav justify-content-center align-items-center">
      <li class="nav-item">
        <a class="nav-link active" href="#" onclick="cargarPagina('home.html', this)">
          HOME
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="cargarPagina('generacion_preguntas.html', this)">
          Generación de Banco de Preguntas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="cargarPagina('corrector_ortografico.html', this)">
          Corrector Ortográfico
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="cargarPagina('aleatorizacion.html', this)">
          Aleatorización de Alternativas
        </a>
      </li>
    </ul>
  </div>
</nav>
